<!DOCTYPE html>
<html>
<head>
  <title>jVectorMap demo</title>
  <link rel="stylesheet" href="../static/jvectormap/jquery-jvectormap.css" type="text/css" media="screen"/>
  <script src="../static/jvectormap/jquery.js"></script>
  <script src="../static/jvectormap/jquery-jvectormap.js"></script>
  <script src ="http://jvectormap.com/js/jquery-jvectormap-1.2.2.min.js"></script>
  <script src="../static/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
</head>
<body>
  <div id="world-map" style="width: 1100px; height: 700px"></div>
  <script>
    $(function(){
      $('#world-map').vectorMap();
    });
  </script>
</body>
</html>